@media only screen and (min-device-width: 320px) and (max-device-width: 480px),
  @media only screen and (max-width: 320px),
  @media only screen and (min-device-width: 760px) and (max-device-width: 1024px) {

.adress,  .schedule, .call_back {
  display: none;
}
.wrap {
  width: 100%;
}
.cont {
  height: 6.66vw;
  justify-content: space-around;
}
.logo img {
  height: 5vh;
}
.phone .left img {
  width: 5.25vw;
}
.cont .right a {
  font-size: 3.75vw;
}
.menu {
  display: block;
  height: 4vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.navigation_header {
  height: 95vh;
}
.navigation_right {
  display: none;
  width: 100vw;
  height: 100vh;
  position: relative;
  background-color: rgb(0, 0, 0);
} 
.navigation_left {
  width: 100%;
  padding: 0;
}
h1 {
  font-size: 10.62vw;
  margin-left: 11.56vw;
  margin-top: 15vw;
}
.navigation_left p {
  font-size: 6.25vw;
  margin-left: 11.56vw;
}
.form form {
  flex-direction: column;
  align-items: center;
}
.form form input, .form form button {
  width: 93.75vw;
  height: 10vh;
  margin-bottom: 2vh;
  font-size: 5.93vw;
}
[placeholder] {
font-size: 5vw;
font-weight: 300;
line-height: 134.7%;
padding-left: 5vw;
}
.navigation_left .small {
  font-size: 3.75vw;
  margin-bottom: 5vh;
}
#work {
    display: flex;
    display: -webkit-flex;
    -webkit-flex-flow: column wrap;
    flex-flow: column wrap;
    height:100vh;
}
#work .section_left, #work .section_right {
  width: 100vw;
  height: auto;
}










    
}
